.swiper {
  min-width: 270px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ffffff;
  opacity: 1;
}

span.swiper-pagination-bullet {
  opacity: 1 !important;
  background-color: rgba(255, 255, 255, 0.6);
}

.hero__slider-img {
  width: 100%;
}

.hero__slider-small {
  width: 100%;
  display: none;
}

.hero__text {
  position: absolute;
  left: 4.5em;
  top: 25%;
  color: var(--color-menu);
  font-size: 2.5vw;
  margin-bottom: 2vw;
}

.hero__text .desktopTextBox__text-header {
  letter-spacing: 0.1vw;
  font-size: 5vw;
  line-height: 14vw;
}

.hero__text .desktopTextBox__text-blurb {
  font-weight: 600;
}
.hero__text .desktopTextBox__text-button {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
@media (max-width: 600px) {
  .hero__slider-small {
    display: block;
  }
  .hero .swiper-pagination {
    bottom: 47% !important;
  }
  .hero__slider-img {
    display: none;
  }
  .hero__text {
    display: none;
  }
}

@media (min-width: 600px) {
  span.swiper-pagination-bullet {
    width: 1.15vw;
    height: 1.15vw;
    margin: 0.5vw !important;
  }
}
