.newsletter {
  background-color: var(--color-menu);
  color: var(--color-white);
  text-align: center;
  padding-top: 3vw;
}

.newsletter__message {
  font-family: var(--font-header);
  font-size: 6.5vw;
  letter-spacing: 0.2vw;
  transform: scale(1, 1.25);
  font-weight: 100;
  line-height: 17vw;
}
.newsletter__header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter__img-mobile {
  margin-right: 2vw;
  width: 2.4em;
}
.newsletter__subscribe-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8vw;
}
.newsletter__subscribe-desktop {
  display: none;
  padding-bottom: 8vw;
}
.newsletter__img-desktop {
  display: none;
}
.newsletter__blurb-mobile {
  width: 90%;
  font-family: var(--font-base);
  padding-bottom: 13vh;
  font-size: 4vw;
  font-weight: 400;
}
.newsletter__submit-mobile {
  padding: 1em 3em;
  color: var(--color-white);
  background-color: var(--color-menu);
  border: 2px solid var(--color-white);
  text-transform: uppercase;
  font-family: var(--font-base);
  font-weight: bold;
  letter-spacing: 0.2vw;
  font-size: 1.25em;
}
.newletter__form-desktop {
  display: flex;
  width: 100%;
}
.newsletter__blurb-desktop {
  display: flex;
  justify-content: center;
  text-align: left;
  width: 53%;
}
.newsletter__blurb-desktop p {
  width: 90%;
  font-family: var(--font-base);
  font-size: 1.5vw;
  margin-left: 0.5em;
}
.newsletter__submit-desktop {
  width: 47%;
  display: flex;
}
.newsletter__input-desktop {
  width: 70%;
  font-size: 1.5vw;
  max-height: 3.75vw;
}
.newsletter__input-desktop::placeholder {
  color: var(--color-placeholder);
  padding-left: 0.5vw;
  font-size: 1.5vw;
}
.newsletter__button-desktop {
  width: 21%;
  margin-left: 0.75em;
  text-transform: uppercase;
  background-color: var(--font-header);
  border: 2px solid var(--color-white);
  color: var(--color-white);
  font-size: 1.15vw;
  max-height: 3.75vw;
  margin-right: 1em;
  font-weight: 400;
}

@media (min-width: 600px) {
  .newsletter__subscribe-mobile {
    display: none;
  }
  .newsletter__subscribe-desktop {
    display: flex;
  }
  .newsletter__message {
    font-size: 3.25vw;
    letter-spacing: 0.1vw;
    line-height: 10vw;
  }
  .newsletter__img-desktop {
    display: block;
    margin-right: 1vw;
    width: 4.5vw;
  }
  .newsletter__img-mobile {
    display: none;
  }
}

@media (min-width: 1100px) {
  .newsletter__blurb-desktop p {
    font-size: 1.5rem;
  }
}
