.hero__mobile-text {
  display: none;
  text-align: center;
  background-color: var(--color-background);
  color: var(--color-menu);
}

.hero__mobile-header {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  font-family: var(--font-header);
  line-height: 1.75em;
  font-size: 8vw;
  transform: scale(1, 1.25);
  font-weight: bold;
}
.hero__mobile-blurb {
  font-family: var(--font-base);
  font-weight: bold;
  font-size: 4vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.hero__mobile-blurb p {
  max-width: 80%;
}

.hero__mobile-button {
  margin-top: 1.25em;
  margin-bottom: 2em;
  letter-spacing: 0.1em;
  font-size: 4vw;
  text-transform: uppercase;
  font-family: var(--font-base);
  border: none;
  padding: 1em;
  color: var(--color-white);
  background-color: var(--color-black);
}
@media (max-width: 600px) {
  .hero__mobile-text {
    display: block;
  }
}
